{% extends "base.html" %}

{% block page_title %}DAF - Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-1">
    
        {% for article in articles %}
        <div>
            <h2 class="page-header">{{ article.title }}</h2>
            {{ article.body|safe }}
            <p class="text-right"><i>Created {{ article.created }} by {{ article.author }}</i></p>
            <br>
            
        </div>
        {% endfor %}
    
        {% if not user.is_authenticated %}
        <a href="{% url 'register_user' %}" class="btn btn-primary btn-md" role="button">Register</a>
        {% endif %}
    </div>
</div>
{% endblock %}
