{% extends "base.html" %}

{% block page_title %}DAF - {{ article.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div>
            <h2 class="page-header">{{ article.title }}</h2>
            {{ article.body|safe }}
            <p class="text-right">
                <i>Created {{ article.created }} by {{ article.author }}</i>&nbsp;&nbsp;&nbsp;<a href="#">Comments</a>
            </p>
            <br>
        </div>
    </div>
</div>
{% endblock %}
